@model Alumno

@{
    ViewData["Title"] = "Informacion de Alumno";
}

<h1> @ViewData["Title"]</h1>
 

<strong>Desde la vista parcial</strong>

 <partial name="ObjetoEscuelaSimple"/>    
 

 <p><i>@ViewBag.Fecha</i></p>